* {
    margin: 0; /* Встановлюємо відступ зовні (margin) на 0 для усунення стандартних відступів для всіх елементів */
    padding: 0; /* Встановлюємо внутрішні відступи (padding) на 0 для усунення стандартних відступів для всіх елементів */
    box-sizing: border-box; /* Враховуємо рамку та внутрішні відступи у загальну ширину та висоту елементів */
}

body {
    font-family: Arial, sans-serif; /* Встановлюємо шрифт для всього документа */
}

.menu {
    list-style: none; /* Видаляємо маркери зі списків */
    display: flex; /* Встановлюємо розміщення елементів у рядок (горизонтально) */
    background-color: #222222; /* Встановлюємо фоновий колір меню */
}

.menu > li {
    position: relative; /* Встановлюємо відносне позиціювання для основних елементів меню */
}

.menu a {
    display: block; /* Встановлюємо блочне відображення посилань */
    padding: 15px; /* Встановлюємо внутрішні відступи (padding) для посилань */
    color: white; /* Встановлюємо колір тексту посилань */
    text-decoration: none; /* Видаляємо підкреслення для посилань */
    background-color: #222222; /* Встановлюємо фоновий колір для посилань */
}

.menu a:hover {
    background-color: #444; /* Змінюємо фоновий колір при наведенні курсору */
}

.menu ul {
    position: absolute; /* Встановлюємо абсолютне позиціювання для підменю */
    top: 100%; /* Розташовуємо підменю прямо під основним пунктом меню */
    left: 0; /* Розташовуємо підменю зліва */
    background-color: #333; /* Встановлюємо фоновий колір підменю */
    display: none; /* Приховуємо підменю за замовчуванням */
    list-style: none; /* Видаляємо маркери зі списків */
}

.menu ul ul {
    left: 100%; /* Розташовуємо вкладене підменю праворуч від батьківського підменю */
    top: 0; /* Розташовуємо вкладене підменю на одному рівні з батьківським підменю */
}

.menu li:hover > ul {
    display: block; /* Відображаємо підменю при наведенні курсору на основний пункт меню */
}
